Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  portability-*,
  misc-*,
  performance-*,
  modernize-use-nullptr
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
